@page "/ods_linea"

@using BlazorFrontEnd.Services

@inject ApiService ApiService

@inject IJSRuntime JSRuntime
@inherits ValidacionAcceso


<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Gestionar <b>ODS y Línea de Investigación</b></h2>
                    </div>
                </div>
            </div>
            @if (odsLineaList == null)
            {
                <p>Cargando...</p>
            }
            else if (!odsLineaList.Any())
            {
                <p>No hay relaciones registradas.</p>
            }
            else
            {
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Línea de Investigación</th>
                            <th>ODS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var relacion in odsLineaList)
                        {
                            <tr>
                                <td>@relacion["linea_investigacion"]</td>
                                <td>@relacion["ods"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>


@code {
    private List<Dictionary<string, object>> odsLineaList = new List<Dictionary<string, object>>();

    private string path = "api/proyecto/ods_linea";

    protected override async Task OnInitializedAsync()
    {
        await LoadODSLinea();
    }

    private async Task LoadODSLinea()
    {
        try
        {
            odsLineaList = await ApiService.GetDataAsync(path);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar las relaciones ODS-Línea: {ex.Message}");
            await JSRuntime.InvokeVoidAsync("alert", "Error al cargar las relaciones ODS-Línea. Por favor, intente nuevamente.");
        }
    }
}
