<div class="top-row ps-3 navbar navbar-dark" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Modulo De Investigacion</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="areaAplicacion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Area Aplicacion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="areaConocimiento">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Area Conocimiento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lineaInvestigacion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Linea Investigacion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grupo_investigacion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Grupo Investigacion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="participaGrupo">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Participante Grupo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="semillero">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Semillero
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="semillero_linea">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Semillero linea
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grupo_linea">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Grupo linea
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ods_linea">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Objetivo de desarollo sostenible linea
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aa_linea">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Area aplicacion linea
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ac_linea">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Area conocimiento linea
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="participaS">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Participa semillero
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sostenible">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Desarrollo sostenenible
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proyecto">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Proyecto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="universidad">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Universidad
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
